<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileFinalProjectLabs"
        tools:targetApi="31">

        <!-- Specify HomeActivity as the launcher activity -->
        <activity
            android:name=".SunriseSunsetAPP.ActivityFavoriteLocations"
            android:exported="true" />
        <activity
            android:name=".SunriseSunsetAPP.ShowResult"
            android:exported="true" />
        <activity
            android:name=".SunriseSunsetAPP.MainSunriseSunset"
            android:exported="true" />

        <!-- FinalProjectMainPage Activity -->
        <activity
            android:name=".FinalProjectMainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SavedTerms Activity -->
        <activity
            android:name=".DictionaryAPI.SavedTerms"
            android:exported="true" /> <!-- WordDefinitionsPage Activity -->
        <activity
            android:name=".DictionaryAPI.WordDefinitionsPage"
            android:exported="true" />

        <!-- MainActivity Activity -->
        <activity
            android:name=".DictionaryAPI.MainActivity"
            android:exported="true" />

        <!-- Songs MainActivity -->
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.FavoritesActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.SongDetailsActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true"/>

        <!--Recipe activity-->
        <activity
            android:name=".DetailsListActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeActivity"
            android:exported="true"/>

    </application>

</manifest>
